body {
    background-color: rgb(215, 255, 188);
    font-family: Arial;
    text-align: center;
}

h1 {
    color: darkblue;
}

p {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: rgb(0, 153, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(60, 255, 0);
}

img {
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
